/*css da pag toda*/
*{
    font-family: 'Roboto', Roboto Slab;
    padding:0;
    margin:0;
    box-sizing: border-box;
 }
html {
    min-height: 100vh;
    position: relative;
}
main {
    margin-bottom: 250px;
}

/*NavBar*/
#logo {
    position: absolute;
    top: 4px;
    left: 25%;
   
}

#logo img{
    width: 85px;
    height: 85px;
    
}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#333333;
    padding: 20px;
    text-transform:none;
    list-style: none;
    font-family:'roboto', sans-serif;
    
}
#navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    transition: 0.1s;
}
#navbar a:hover{
    color: #666;
}
#navbar li{
    margin: 0 10px;
    padding: 10px;
    border-radius: 9%;
    border: 2px solid white;

}
#navbar .nav-link{
    color: white;
    text-decoration: none;
    transition: 5s;
    font-size: 14px;
}
#navbar .nav-link:hover{
    color: #f2f2f2;
}
/*home*/
#title-conteiner{
   min-width: 500px;
   text-align: center;
   margin:30px;
}
#posts-conteiner{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
}

#title-conteiner h1{
    font-size: 50px;
    color: #333333;
    margin: 20px;
}
#title-conteiner p{
    font-size: 20px;
    color: #333333;
    margin: 15px;
    text-transform:lowercase;
}

.post-box:first-child{
    flex:100%;
}
.post-box{
    flex: 1 1 0;
    margin: 0 1%;
    margin-bottom: 20px;
}
.post-box img{
    width: 100%;
    
}
.post-box .post-title{
    font-size: 24px;
    color: #333333;
    margin: 10px 0;
}
.post-box .post-title a{
    color: #333333;
    transition: 0.1s;
}
.post-box .post-title a:hover{
    color: #999;
}
.post-box .post-description{
    font-size: 16px;
    color: #999;
}
.tags-conteiner{
    margin: 20px 0;
}
.tags-conteiner a{
   font-size: 14px;
   color: #333333;
   display: inline-block;
   margin-right: 5px;
}
/*post*/
#post-conteiner{
    max-width: 1200px;
    display: grid;
    grid-template-columns:90% 10%;
    grid-template-areas:"main sidebar";
    grid-template-rows:auto;
    padding-top: 3%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 250px;
}
.content-conteiner{
    grid-area: main;
}
#main-title{
    font-size: 45px;
    color: #333333;
    margin-bottom: 30px;
}
#post-description{
    font-style: italic;
    font-size: 20px;
    color: #666;
    margin-bottom: 40px;
}
.post-content{
    margin: 10px 0;
    line-height: 1.5;
}
.img-conteiner{
    margin-bottom: 30px;
}
.img-conteiner img{
    width: 60%;
}
/*post asisde*/
.nav-conteiner{
    grid-area: sidebar;

}
#nav-title, #categories-title{
    font-size: 15px;
    background-color: #333333;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    border-radius: 30% 15%;

}
#tag-list a, #categories-list a{
   color: #999;
   transition: 0.2s;
}
#tag-list a:hover, #categories-list a:hover{
    color: #000;
    transition: 0.1s;
 }
/*footer*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 35px;
}